<!-- <nav 
  class="navbar bg-body-tertiary" 
  style="background-color: rgb(207, 207, 250);">
  <div class="container-fluid">
    <a class="navbar-brand">Curd Application</a>
    <form class="d-flex text-right" role="search">
      <i class="bi bi-person-fill"></i>
      <button 
        routerLink="/addEmp"
        class="btn btn-outline-success" 
        type="submit" 
        style="background-color: rgb(207, 207, 250);">Add Employee</button>
    </form>
  </div>
</nav>
<h1>Employee Detail</h1>
<app-view-employee></app-view-employee> -->


